.card-invest-div {
    padding: 27px;
    background: white;
    font-size: 20px;
    border-radius:  4px;
    width: 260px;
}

.card-invest-div p {
    margin: 0px 0px 10px 0px;
}

.card-invest-div p:first-child {
    color: black;
}

.card-invest-div p:nth-child(2){
    color: #4456DD;
}

.card-invest-div p:nth-child(3){
    color: #808080;
    font-size: 16px;
}