.introdution {
    padding: 60px 160px 60px 50px;
}

.introdution p {
    font-size: 42px;
    font-weight: medium;
}

.introdution .btn {
    font-size: 20px;
    padding: 10px 46px;
}

.introdution img {
    width: 370px;
    height: 270px;
}

.content-intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invest-intro {
    width: 40%;
}

.section-cards-invest {
    background: #4456DD;
    padding: 64px 40px;
    display: flex;
    justify-content: space-between;
}

.section-cards-invest .btn {
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
}

.section-more {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
} 

.section-more img {
    width: 300px;
    height: 200px;
}

.easy-cash-section {
    padding: 40px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.easy-cash-section h1 { 
    text-align: center;
    font-size: 42px;
}

.easy-cash-section .btn {
    padding: 10px 30px;
    font-size: 20px;
}

.girl-background img {
    width: 100%;
    display: block;
}

.account-content {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-account {
    width: 50%;
    padding: 80px 130px;
    background: #F2F2F2;
}

.create-account h1 {
    font-size: 42px;
}

.create-account .div-inputs {
    display: flex;
    flex-direction: column;
}

.create-account .btn {
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
}

.suport-account {
    margin: 0 auto;
}